{% extends "layouts/_layout" %}

{% block main %}
<div class="grid-container">
  <aside class="column-6">
    <nav class="topic-list">
      {% link '/getting-started/', 'Getting Started' %}

      {% for group in queries.documentation %}
        <section>
          <h4>{{ group.name }}</h4>
          <ul>
            {% for page in group.pages %}
            <li>{% link page.url, (page.navTitle or page.title) %}</li>
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </nav>
  </aside>

  <article class="column-18">
    <h1>{{title}}</h1>
    {% block content %}{% endblock %}
    <hr>
    <p class="small">
      <a href="https://github.com/patrickarlt/acetate-site/edit/master/src/{{ src }}">Edit this Page on GitHub</a>
    </p>
  </article>
</div>
{% endblock %}
