{% extends "layouts/_layout" %}

{% block main %}
  <div class="layout-sidebar">
    <aside>
      <nav>
        <section>
          <h3>Installation</h3>
          <ul>
            <li><a href="">Project setup</a></li>
            <li><a href="">Command-line usage</a></li>
            <li><a href="">Using with Grunt</a></li>
            <li><a href="">Using with Gulp</a></li>
          </ul>

          <h3>Configuration</h3>
          <ul>
            <li><a href="">Basic Example</a></li>
            <li><a href="">Options</a></li>
            <li><a href="">Globals</a></li>
            <li><a href="">Extensions</a></li>
            <li><a href="">Sources</a></li>
            <li><a href="">Command-line Flags</a></li>
          </ul>
        </section>

        <section>
          <h3>Pages</h3>
          <ul>
            <li><a href="">Creating Pages</a></li>
            <li><a href="">Metadata</a></li>
            <li><a href="">Templating</a></li>
            <li><a href="">Built-in Helpers</a></li>
            <li><a href="">Layouts</a></li>
            <li><a href="">Nested Layouts</a></li>
          </ul>
        </section>

        <section>
          <h3>Data</h3>
          <ul>
            <li><a href="">Loading Data</a></li>
            <li><a href="">YAML</a></li>
            <li><a href="">JSON</a></li>
            <li><a href="">JavaScript</a></li>
            <li><a href="">Accessing Data</a></li>
          </ul>
        </section>

        <section>
          <h3>Collections</h3>
            <ul>
              <li><a href="">Creating Collections</a></li>
              <li><a href="">Using Collections</a></li>
            </ul>
        </section>

        <section>
          <h3>Groups</h3>
            <ul>
              <li><a href="">Creating Collections</a></li>
              <li><a href="">Using Collections</a></li>
            </ul>
        </section>

        <section>
          <h3>Custom Extensions</h3>
          <ul>
            <li><a href="">Basic Example</a></li>
            <li><a href="">Extending Nunjucks</a></li>
            <li><a href="">Extending Markdown</a></li>
          </ul>
        </section>
      </nav>
    </aside>

    <article>
      {% block content %}{% endblock %}
    </article>
  </div>
{% endblock %}