<!DOCTYPE html>
<html>
<head>
  {% if (src == 'index.html') %}
    <title>{{title}}</title>
  {% else %}
    <title>{{title}} | Acetate</title>
  {% endif %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Unica+One|Karla:400,400italic,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navigation {{navStyle}}">
    <div class="grid-container">
      <a href="/" class="{% if url == './' %}is-active{% endif %}">Acetate</a>
      <div class="right">
        <a href="/getting-started/" class="{% if url == 'getting-started/' %}is-active{% endif %}">Getting Started</a>
        <a href="/documentation/" class="{% docPageClass url %}">Documentation</a>
        <a href="http://github.com/patrickarlt/acetate/">GitHub</a>
      </div>
    </div>
  </nav>

  {% block main %}{% endblock %}
</body>
</html>