<!DOCTYPE html>
<html>
<head>
  <title>{{title}} | Site</title>
  {% block head %}
    <link rel="stylesheet" href="{{relativePath}}assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Unica+One|Roboto:400,300,300italic' rel='stylesheet' type='text/css'>
  {% endblock %}
</head>
<body>
  <div class="banner">
    <h1 class="logo">Acetate</h1>
    <a href="#">documentation&nbsp;</a><a href="#">&nbsp;github</a>
  </div>
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  <!-- Last Modified: {{ stats.mtime }} -->
  <!-- {{ globals.config.environment }} -->
  <!-- {{ globals.rootUrl }} -->
  <!-- {{ relativePath }} -->
</body>
</html>