<!DOCTYPE html>
<html>
<head>
  {% if (src == 'index.html') %}
    <title>{{title}}</title>
  {% else %}
    <title>{{title}} | Acetate</title>
  {% endif %}

  <link rel="stylesheet" href="/assets/css/main.css">
  <link href='//fonts.googleapis.com/css?family=Unica+One|Karla:400,400italic,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navigation {{navStyle}}">
    <div class="grid-container">
      {% link '/', 'Acetate', requireExactMatch=true %}

      <div class="right">
        {% link '/getting-started/', 'Getting Started' %}
        {% link '/documentation/', 'Documentation' %}
        {% link 'http://github.com/patrickarlt/acetate/', 'GitHub' %}
      </div>
    </div>
  </nav>

  {% block main %}{% endblock %}
</body>
</html>
