// Colors
$cream: #FCFDF8;
$dark-cream: #F9FAF3;
$darker-cream: #EFF0E9;
$dark-gray: #273C52;
$gray: #374C62;
$blue: #96b5b4;
$green: #a3be8c;

// Fonts
$body-font: 'Karla', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$header-font: 'Unica One', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$mono-font: 'Menlo', 'Source Code Pro', monospace;