@import 'scales';

@mixin leader-half()  { margin-top:    0.5 * $baseline; }
@mixin trailer-half() { margin-bottom: 0.5 * $baseline; }
@mixin padding-leader-half()  { padding-top:    0.5 * $baseline; }
@mixin padding-trailer-half() { padding-bottom: 0.5 * $baseline; }

@mixin leader($n)          { margin-top:     $n * $baseline; }
@mixin trailer($n)         { margin-bottom:  $n * $baseline; }
@mixin padding-leader($n)  { padding-top:    $n * $baseline; }
@mixin padding-trailer($n) { padding-bottom: $n * $baseline; }

@for $i from 0 through 5 {
  .leader-#{$i}          { @include leader($i)          ;}
  .trailer-#{$i}         { @include trailer($i)         ;}
  .padding-leader-#{$i}  { @include padding-leader($i)  ;}
  .padding-trailer-#{$i} { @include padding-trailer($i) ;}
}

html {
  background-color: $cream;
  border-top: 3px solid $blue;
}

body {
  font-family: $body-font;
  font-weight: 300;
  font-size: $body-size;
  line-height: $baseline;
  color: $gray;
}

b, strong, em {
  font-weight: 400;
}

code {
  font-family: $mono-font;
  @include font-size(-3);
  line-height: 1.5rem;
  padding: 0 .25em;
  margin: 0 .125em;
  background-color: $darker-cream;
  border: 1px solid $darker-cream;
  display: inline-block;
}

pre {
  padding: .75rem 1rem;
  border: 3px solid $darker-cream;
  background-color: $dark-cream;
  code {
    @include font-size(-4);
    line-height: 1.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

p {
  margin: 1em 0;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 2px solid $blue;
  &:hover, &:focus {
    color: $green;
    border-bottom: 2px solid $green;
  }
}

ol li {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0 0.5em 0;
}

h1 { @include font-size(6); }
h2 { @include font-size(5); }
h3 { @include font-size(4); }
h4 { @include font-size(3); }
h5 { @include font-size(2); }
h6 { @include font-size(1); }

table {
  width: 100%;
  margin-bottom: 1rem;
  font-family: $body-font;
  background-color: $cream;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $darker-cream;
  border-radius: .3rem;
  text-align: left;

  > thead {
    background-color: $dark-cream;
    border-bottom: 1px solid $darker-cream;
  }

  > tfoot {
    background-color: $dark-cream;
    border-top: 1px solid $darker-cream;
  }

  th, td {
    border-left: 1px solid $darker-cream;
    border-right: 1px solid $darker-cream;
    padding: .5rem;
  }

  p {
    margin-bottom: 0;
  }

  tr {
    border-bottom: 1px solid $darker-cream;
    text-align: left;
    &:last-child {
      border-bottom: none;
    }
  }

}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 2px solid $darker-cream;
  margin: 2rem 0;
}

.small {
  @include font-size(-2);
}

.text-center {
  text-align: center;
}