
html {
  background-color: $cream;
  border-top: 3px solid $blue;
}

body {
  font-family: $body-font;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;
  color: $gray;
}

b, strong, em {
  font-weight: 400;
}

code {
  font-family: $mono-font;
  font-size: 1rem;
  padding: .25em;
  background-color: $dark-cream;
  border: 1px solid $darker-cream;
  border-radius: .3rem;
}

pre {
  font-size: 1rem;
  padding: 1.5em;
  border-bottom: 4px solid $darker-cream;
  background-color: $dark-cream;
  border-radius: .3rem;
  code {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

p {
  margin: 2em 0;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 2px solid trasparent;
  &:hover, &:focus {
    border-bottom: 2px solid $blue;
  }
}

ol li {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0 1em 0;
}

h1 {font-size: 3.00rem;}
h2 {font-size: 2.25rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.50rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1.00rem;}

table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: .95rem;
  font-family: $body-font;
  background-color: $cream;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $darker-cream;
  border-radius: .3rem;
  text-align: left;

  > thead {
    background-color: $dark-cream;
    border-bottom: 1px solid $darker-cream;
  }

  > tfoot {
    background-color: $dark-cream;
    border-top: 1px solid $darker-cream;
  }

  th, td {
    border-left: 1px solid $darker-cream;
    border-right: 1px solid $darker-cream;
    padding: .5rem;
  }

  p {
    margin-bottom: 0;
  }

  tr {
    border-bottom: 1px solid $darker-cream;
    text-align: left;
    &:last-child {
      border-bottom: none;
    }
  }

}

img {
  max-width: 100%;
  height: auto;
}

.small {
  font-size: .95rem;
}
