@import 'config';
@import 'utils';
@import 'scales';
@import 'reset';
@import 'type';
@import 'grid';
@import 'highlight';

.padded {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

// Grid
.block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block;
}

.block {
  position: relative;
  display: inline-block;
  float: none;
  @include box-sizing(border-box);
  padding-left: 1em;
  padding-right: 1em;
  font-family: $body-font;
  letter-spacing: normal;
  text-align: left;
  vertical-align: top;
  h3 {
    @include leader(1);
    @include trailer(1);
  }
  img {
    width: 85%;
    margin: 0 auto;
    display: block;
  }
}

.one-third {
  width: 33.33%;
}

// Navigation
.navigation {
  display: block;
  overflow: auto;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid darken($blue, 5%);
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: .05em;
  .right a {
    margin-left: 1.5rem;
  }
  a {
    box-sizing: border-box;
    float: left;
    padding-top: 1em;
    padding-bottom: 0.65em;
    color: $blue;
    border-bottom: 3px solid transparent;
    @include transition(border 200ms linear);
    &:hover, &.is-active {
      border-color: $blue;
    }
    &:last-child {
      margin-right: none;
    }
  }

  &.on-blue {
    border-bottom: 1px solid lighten($blue, 10%);
    a {
      color: lighten($blue, 40%);
      &:hover, &.is-active {
        border-color: lighten($blue, 10%);
      }
    }
  }
}

// Homepage Banner
.banner {
  position: relative;
  @include box-sizing(border-box);
  margin-top: -5rem;
  overflow: auto;
  text-align: center;
  background-color: $blue;
  color: $cream;
  color: lighten($blue, 40%);
  overflow: hidden;
}

.logo {
  position: relative;
  display: block;
  margin: 8em auto 4em;
  padding-left: .375em;
  color: $cream;
  z-index: 3;
  width: 80%;
  text-shadow: 0 0 12px rgba(0,0,0,0.15);
  h1 {
    @include font-size(8);
    letter-spacing: .35em;
  }

  h2 {
    @include font-size(4);
    letter-spacing: .2em;
  }
}

$duration1: 50s;
$duration2: 70s;
$duration3: 90s;

.files {
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  width: 100%;
  background: url(../img/front.svg) top center transparent;
  @include prefixer (animation, up $duration1 infinite linear, webkit moz spec);
  @include prefixer (transform, translate3d(0, 600px, 0), webkit moz spec);
  &.delayed {
    @include prefixer (animation-delay, 1, webkit moz spec);
  }
  &.center {
    opacity: .7;
    background-image: url(../img/center.svg);
    @include prefixer (animation-duration, $duration2, webkit moz spec);
    &.delayed {
      @include prefixer (animation-delay, 2, webkit moz spec);
    }
  }
  &.back {
    opacity: .5;
    background-image: url(../img/back.svg);
    @include prefixer (animation-duration, $duration3, webkit moz spec);
    &.delayed {
      @include prefixer (animation-delay, 3, webkit moz spec);
    }
  }
}

.fade-in {
  opacity: 0;
  @include prefixer (animation, fadeIn .25s linear, webkit moz spec);
  @include prefixer (animation-fill-mode, forwards, webkit moz spec);
}

.delay-1 {
  @include prefixer (animation-delay, .5s, webkit moz spec);
}

.delay-2 {
  @include prefixer (animation-delay, 1s, webkit moz spec);
}

.delay-3 {
  @include prefixer (animation-delay, 1.5s, webkit moz spec);
}

.topic-list {
  @include leader(2);

  section {
    margin: 0 0 2rem;
  }
  h4 {
    @include font-size(2);
    margin: 2rem 0 1rem;
    text-align: left;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    @inlucde font-size(-1);
    padding: 0;
    margin: 0;
  }
  a {
    border: none;
    border-left: 3px solid transparent;
    padding: 0 0 0 0.5rem;
    margin-left: calc(-0.5rem + -3px);
    &:hover {
      color: $blue;
      border-left-color: $blue;
    }
    &.is-active {
      border-left-color: $green;
      color: $green;
    }
  }
  .is-active {

  }
}

a.btn, button {
  font-family: $header-font;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: $blue;
  color: $cream;
  border-radius: 2px;
  border: none;
  &:hover {
    color: $cream;
    background-color: $green;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

code.filename {
  display: block;
  margin: 0 0 -1.5rem;
  padding: .25em;
}

.filename + pre {
  padding-top: 0;
}

.callout.note {
  h5 {
    text-align: left;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(up) {
  0% {
    @include prefixer (transform, translate3d(0, 600px, 0), webkit moz spec);
  }
  100% {
    @include prefixer (transform, translate3d(0, -100%, 0), webkit moz spec);
  }
}